{% extends "scrclubSCRClubBundle:default:index.html.twig" %}
  {% set menuType = "2-2" %}
{% block body %}

    <div class="container">

        <div class="row about-grid">
            <div class="col-xs-12 col-md-6">

                <p>
                    <a href="http://www.github.com/martial" target="_blank" ><i class="social-icons icon-github icon-2x"></i></a>
                    <a href="http://www.twitter.com/martialtwist" target="_blank" ><i class="social-icons icon-twitter icon-2x"></i></a>
                    <a href="https://plus.google.com/u/0/112806109608496216218/posts" target="_blank" ><i class="social-icons icon-google-plus icon-2x"></i></a>
                    <a href="http://martial.tumblr.com" target="_blank" ><i class="social-icons icon-tumblr icon-2x"></i></a>
                </p>

                {% include 'scrclubSCRClubBundle:default:delimiters.html.twig' with {'type': "1"} %}

                <div class="project-name">{{node.name | raw }}</div>
                <p>
                {{node.description | raw }}
                </p>

                <hr />

                    {% for tw in tweets %}
                    Last tweet : <p>{{  tw.text }}</p>
                    {% endfor %}







            </div>
            <div class=" col-xs-12 col-md-6">

                {%  for mediaNode in node.mediaNodes %}

                    {% if mediaNode.media.getType() == "image" %}
                        <img  alt="{{ mediaNode.media.name }}" src="{{asset(mediaNode.media.getWebPath() )}}"  style="width: 100%; padding-bottom: 25px">

                    {% else %}

                        {{ getEmbed(mediaNode.media, "100%", 500)}}

                    {% endif %}



                {% endfor %}

            </div>
        </div>


    </div>

    </div>

{% endblock %}

