{% extends "scrclubSCRClubBundle:default:index.html.twig" %}

{% set menuType = "2-1-1" %}

{% block body %}


    <div class="container">

        {% for node in node.children %}

            <div class="row educ-grid">
                <div class="col-xs-12 col-md-6 text-block ">

                    <div class="project-name"><a href="{{path('page', {'slug': node.slug}) }}">{{ node.name | raw }}</a></div>
                    {{ node.header | raw }}

                </div>


                <div class=" col-xs-12 col-md-3 padding-20 ">
                    <div class="project-name">&nbsp;</div>
                    {{ node.description | raw }}
                </div>

                <div class="col-xs-12 col-md-3 padding-20 ">
                    <div id="carousel-{{ node.id }}" class="carousel">
                        <div class="carousel-inner">


                            {%  set numImages = 0 %}
                            {% for mediaNode in node.mediaNodes | shuffle%}
                                {% if mediaNode.media.getType() == "image" %}

                                    <div class="item {% if numImages == 0 %}active{% endif %}">



                                        <span data-picture data-alt="{{ node.name }}">
                                        <span data-src="{{asset(mediaNode.media.getWebPath() | apply_filter('scr_carousel_large') )}}"></span>
                                        <span data-src="{{asset(mediaNode.media.getWebPath() | apply_filter('scr_carousel') )}}"     data-media="(min-width: 990px)"></span>

                                            <!--[if (lt IE 9) & (!IEMobile)]>
                                            <span data-src="{{asset(mediaNode.media.getWebPath() | apply_filter('scr_home') )}}"></span>
                                            <![endif]-->


                                            <noscript>
                                            </noscript>
                                    </span>


                                        <div class="carousel-caption"></div>
                                    </div>

                                    {%  set numImages = numImages + 1%}
                                {% else %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if  numImages > 1 %}
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-{{ node.id }}" data-slide="prev">
                            <img class="icon-prev" src="{{ asset('bundles/scrclubscrclub/images/prev.png') }}"/>

                        </a>
                        <a class="right carousel-control" href="#carousel-{{ node.id }}" data-slide="next">
                            <img class="icon-next" src="{{ asset('bundles/scrclubscrclub/images/next.png') }}"/>
                        </a>

                        {% endif %}
                    </div>
                </div>
            </div>

            {% include 'scrclubSCRClubBundle:default:delimiters.html.twig' with {'type': menuType} %}


        {% endfor %}

    </div>

    </div>


{% endblock %}

