{% extends "scrclubSCRClubBundle:default:index.html.twig" %}

{% set menuType = "2-1-1" %}

{% block body %}


    <div class="container">

        {% for node in node.children %}

            <div class="row educ-grid">
                <div class="col-xs-12 col-md-6 padding-20 ">

                    <div class="project-name"><a href="{{path('page', {'slug': node.slug}) }}">{{ node.name | raw }}</a></div>
                    {{ node.header | raw }}

                </div>

                <div class=" col-xs-12 col-md-3 padding-20 ">


                    <div class="project-name">Info</div>
                    {{ node.description | raw }}


                </div>

                <div class="col-xs-12 col-md-3 padding-20 ">


                    <div id="carousel-{{ node.id }}" class="carousel">


                        <div class="carousel-inner">


                            {% for mediaNode in node.mediaNodes | shuffle%}
                                {% if mediaNode.media.getType() == "image" %}

                                    <div class="item {% if loop.first %}active{% endif %}">
                                        <img src="{{ asset(mediaNode.media.getWebPath() | apply_filter("scr_carousel")) }}" alt="{{ mediaNode.media.name }}">

                                        <div class="carousel-caption"></div>
                                    </div>
                                {% else %}
                                {% endif %}
                            {% endfor %}
                        </div>


                        {% if  node.mediaNodes | length > 1 %}
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-{{ node.id }}" data-slide="prev">
                            <img class="icon-prev" src="{{ asset('bundles/scrclubscrclub/images/prev.png') }}"/>

                        </a>
                        <a class="right carousel-control" href="#carousel-{{ node.id }}" data-slide="next">
                            <img class="icon-next" src="{{ asset('bundles/scrclubscrclub/images/next.png') }}"/>
                        </a>

                        {% endif %}
                    </div>


                </div>

            </div>

            {% include 'scrclubSCRClubBundle:default:delimiters.html.twig' with {'type': menuType} %}


        {% endfor %}

    </div>

    </div>


{% endblock %}

