{% extends "scrclubSCRClubBundle:default:index.html.twig" %}

{% block body %}

<style>
	
.post img.img-home {
  max-width: 100%;
  margin-top: 9px;
}

@media (max-width: 480px) {

}

@media (max-width: 768px) {
  header h1 small {
    display: block;
  }

  header div.description {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .isotope .item {
    position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
       -moz-transform: translate(0px, 0px) ! important;
            transform: translate(0px, 0px) ! important;
  }
}

@media (max-width: 980px) {
  header p.lead span {
    display: block;
  }
}

@media (min-width: 480px) and (max-width: 768px) {

}


@media (min-width: 768px) and (max-width: 980px) {
  #posts .span4 {
    width: 352px;
  }
}

@media (min-width: 980px) {

}

@media (min-width: 1200px) {
  #posts .span4 {
    width: 270px;
  }
}
.isotope .item {
    position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
    -moz-transform: translate(0px, 0px) ! important;
    transform: translate(0px, 0px) ! important;
}

.wrapper {
    background-repeat: no-repeat;

    margin-bottom: 20px;
    background-size: cover;
    width: 100%;

    position:static;
}


</style>


        {% for node in nodes %}

            {%  if loop.first %}

                {% for child in node.children %}



                    {% for mediaNode in child.mediaNodes %}
                        {% if loop.first %}

                            <div class="wrapper" data-height="{{ mediaNode.media.getHeight() }}" data-width="{{ mediaNode.media.getWidth() }}" id="{{mediaNode.media.id}}"></div>

                            <script type="">
                                $(function () {

                                   // background-image: url(http://placehold.it/250x250);

                                    console.log($("#{{mediaNode.media.id}}"));

                                    $("#{{mediaNode.media.id}}").css("background-image", "url({{asset(mediaNode.media.getWebPath())}})");
                                    $("#{{mediaNode.media.id}}").css("height", "300");

                                });
                            </script>


                        {%  endif  %}
                    {%  endfor  %}






                {% endfor %}


            {% endif %}

        {% endfor %}





   <script src=" {{ asset('bundles/scrclubscrclub/js/jquery.isotope.min.js') }}"></script>
    <script>


        $(function () {

            //$.backstretch("https://dl.dropboxusercontent.com/u/817108/screenclub/about.jpg");




            $('.container-isotope').isotope({
             	itemSelector : '.item',
                animationOptions: {
                    itemSelector : '.item',
                    duration: 0,
                    easing: 'linear',
                    queue: false
                }
            });
            
            $(window).resize(function(){

                console.log($(".wrapper").width())

                // j'ai le width du container
                // donc le height est...

                //image.width
                // image.height
                // var ratio = w / h
                // image.height = container.width * ratio

                $( ".wrapper" ).each(function( index ) {

                    var width = $(this).attr("data-width")
                    var height = $(this).attr("data-height")

                    var ratio = width / height;

                    var finalHeight = $(".wrapper").width() * ratio;

                    console.log(finalHeight)

                    $(".wrapper").css("height", (String)(finalHeight));

                    console.log( width );
                });





                $('.container-isotope').isotope({
                    itemSelector : '.item',
                    animationOptions: {
                        itemSelector : '.item',
                        duration: 0,
                        easing: 'linear',
                        queue: false
                    }
                });



            });
			
			   $(".lazy").lazyload({

	            load : function()
	            {
	                 $('.container-isotope').isotope('reLayout');
	                 
	            }

        });
                     
           

        })


    </script>


{% endblock %}

