{% extends "scrclubSCRClubBundle:default:index.html.twig" %}

{% set menuType = "4" %}

{% block body %}



<div class="container">



{% set rowCount = 0 %}
{% for node in nodes %}


    {%  if loop.first %}

        {% for child in node.children %}

            {% for mediaNode in child.mediaNodes %}
                {% if loop.first %}

                    {% if rowCount % 4 == 0 and rowCount > 0  %}
                    </div>
                    {% endif %}

                    {% if rowCount % 4 == 0 or rowCount == 0 %}
                    <div class="row home-grid">
                    {% endif %}

                    <div class="img-block col-xs-12 col-md-3">

                        <a href="{{path('page', {'slug': child.slug}) }}">
                            <div class="img-content">

                                <span data-picture data-alt="{{ child.name }}">
                                <span data-src="{{asset(mediaNode.media.getWebPath() | apply_filter('scr_home_large') )}}"></span>
                                <span data-src="{{asset(mediaNode.media.getWebPath() | apply_filter('scr_home') )}}"     data-media="(min-width: 990px)"></span>

                                     <!--[if (lt IE 9) & (!IEMobile)]>
                                     <span data-src="{{asset(mediaNode.media.getWebPath() | apply_filter('scr_home') )}}"></span>
                                     <![endif]-->


                             


                            </span>


                            <div class="white-block" style=""  >{{ child.name }}</div>



                            </div>
                        </a>
                    </div>



                    {% set rowCount = rowCount +1 %}
                {%  endif  %}
            {%  endfor  %}
        {% endfor %}
    {% endif %}
{% endfor %}

                        {% if rowCount % 4 != 0  %}
                    </div>
    {% endif %}

</div>


{% endblock %}

