<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Internetz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('bundles/scrclubscrclub/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/scrclubscrclub/css/skin/dark.css') }}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/scrclubscrclub/js/jail.min.js') }}"></script>
    <script src="{{ asset('bundles/scrclubscrclub/js/backstretch.min.js') }}"></script>
    <script src="{{ asset('bundles/scrclubscrclub/js/jquery.shuffleLetters.js') }}"></script>


</head>



<body>


{% include 'scrclubSCRClubBundle:default:menu.html.twig'  %}
<div class="container-fixed-menu">
{% block body %}
{% endblock %}
</div>

</div>
<!-- container end-->

<script>

    updateHeadline();

    function updateHeadline () {

        var headlines = ["Interactive Design",
            "Hacking band",
            "Web brothers",
            "Happy coders",
            "Buttons pushers",
            "Tools makers",
            "Visual crew",
            "Plug wires for you",
            "Understand computers",
            "See the lights",
            "No pressure",
            "Code = fun",
            "is Object oriented",
            "Disco Symfony2",
            "MC++ for DJ",
            "& collaborators",
            "Gif lovers",
            "Glitch & Gifs",
            "Hard workers",
            "Objective -c mieux"

        ];
        var index = parseInt(Math.random() * (headlines.length -1));

        $("#shuffle").shuffleLetters({
            "text": headlines[index]
        });


    }

    /*
    setInterval( function () {

        updateHeadline();

    },10000)

    */

</script>

</body>

</html>


