<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Internetz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('bundles/scrclubscrclub/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/scrclubscrclub/css/skin/dark.css') }}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/scrclubscrclub/js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/scrclubscrclub/js/jail.min.js') }}"></script>
    <script src="{{ asset('bundles/scrclubscrclub/js/backstretch.min.js') }}"></script>
    <script src="{{ asset('bundles/scrclubscrclub/js/jquery.shuffleLetters.js') }}"></script>


</head>



<body>


{% include 'scrclubSCRClubBundle:default:menu.html.twig'  %}
<div class="container-fixed-menu">
{% block body %}
{% endblock %}
</div>

</div>
<!-- container end-->

<script>


    $(function () {

        updateMenu();

    })

    getQuotes();

    function getQuotes () {

        $.ajax({
            url: "https://dl.dropboxusercontent.com/u/817108/screenclub/quotes.txt",
            context: document.body
        }).done(function(data) {

            var headlines = data.split(",");
            updateHeadline(headlines)

        });

    }

    function updateHeadline (headlines) {


        var index = parseInt(Math.random() * (headlines.length -1));


        $("#shuffle").shuffleLetters({
            "text": headlines[index]
        });


    }


    var win = jQuery(window);
    win.bind('resize scroll', updateMenu);

    function updateMenu () {

        // assign collabible menu
        $(".row-menu").unbind("click");

        var defaultContainerMarginTop = $(".container-fixed-menu").css("margin-top");

        if (win.width() < 992 ) {


            $(".row-menu").click(function () {

                var menuElem =  $(".nav-section-menu");
                menuElem.toggle(200);

                if ( menuElem.css("display") != "none") {

                    $(".container-fixed-menu").removeAttr( 'style' );
                    $(".nav-menu-container").removeAttr( 'style' );

                } else {

                    $(".nav-menu-container").css('top', "10px");
                    $(".container-fixed-menu").css("margin-top", "60px");

                }

            })

        }


        var scrolled = win.scrollTop();

            var max = 20;
            var min =  (win.width() < 992) ? -20 : -10;
            var ratio = max * scrolled / 40;
            ratio = (max - ratio);

            var value = ( ratio < min ) ?min : ratio;

            if(win.width() < 992 ) {
                value = min;
            }

            $(".page-header").css('margin-top', value+'px');

    }




    /*
    setInterval( function () {

        updateHeadline();

    },10000)

    */

</script>

</body>

</html>


