

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="page-header"></div>
        <div class="row row-menu">
            <div class="logo-header col-xs-12  col-md-3">

                <div class="row">
                <div  class="col-xs-6 col-sm-6 col-md-9">
                <a id="home-link" href="{{ path("intro") }}">
                SCREENCLUB.</a>
                <p style="height:24px" id ="shuffle"></p>
                </div>

                <div style="padding-left:0px"  class="logo col-xs-6 logo col-sm-6 col-md-3">
                <img src="{{ asset('bundles/scrclubscrclub/images/logo.png') }}"/>
                </div>
                </div>
            </div>
            <div class="nav-section-menu col-xs-12 col-sm-12 col-md-3">

                <ul class="top-menu list-unstyled">
                {% for nodeSection in nodes %}
                    <li {% if nodeSection.id == node.id or nodeSection.id == node.parent.id or not node and loop.first %}
                    class="active"
                    {% endif %}><a href="{{path('page', {'slug': nodeSection.slug}) }}">{{nodeSection.name}}</a></li>
                {%  endfor %}
                </ul>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">



            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                {% if node.type == "post" %}
                <div class="pull-right nav-menu-container" >
                {% if prev %}
                    <a id ="prev" style="padding-right:20px" href="{{path('page', {'slug': prev.slug}) }}"><img src="{{ asset('bundles/scrclubscrclub/images/prev.png') }}"/></a>
                {% endif %}
                {% if next %}
                    <a id ="next" href="{{path('page', {'slug': next.slug}) }}"><img src="{{ asset('bundles/scrclubscrclub/images/next.png') }}"/></a>
                {% endif %}

                </div>
                {% endif %}


            </div>

          </div>

        <!-- delimiters-->
        {% include 'scrclubSCRClubBundle:default:delimiters.html.twig' with {'type': menuType} %}

    </div>
</div>


