
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="page-header"></div>
        <div class="row row-menu">
            <div class="logo-header col-xs-12  col-md-3">

                <div class="row">
                <div  class="col-xs-6 col-sm-6 col-md-9">
                SCREENCLUB.<p style="height:24px" id ="shuffle"></p>
                </div>
                <div style="padding-left:0px"  class="col-xs-6 logo col-sm-6 col-md-3">
                <img src="{{ asset('bundles/scrclubscrclub/images/logo.png') }}"/>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">

                <ul class="top-menu list-unstyled">
                {% for node in nodes %}
                    <li><a href="{{path('page', {'slug': node.slug}) }}">{{node.name}}</a></li>
                {%  endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-3">

                {% if node.type == "post" %}
                <div class="pull-right nav-menu-container" >
                {% if prev %}
                    <a id ="prev" style="padding-right:20px" href="{{path('page', {'slug': prev.slug}) }}"><img src="{{ asset('bundles/scrclubscrclub/images/prev.png') }}"/></a>
                {% endif %}
                {% if next %}
                    <a id ="next" href="{{path('page', {'slug': next.slug}) }}"><img src="{{ asset('bundles/scrclubscrclub/images/next.png') }}"/></a>
                {% endif %}

                </div>
                {% endif %}


            </div>

            <div class="nav-right col-xs-12 col-sm-12 col-md-12 pull-right" style="margin-top: -22px;text-align: right;"><p id ="nav-name" style=""></p></div>
          </div>

        <!-- delimiters-->

        {% include 'scrclubSCRClubBundle:default:delimiters.html.twig' with {'type': menuType} %}



    </div>

</div>


